<form action="" ng-submit="ok()">
    <div style="padding: 20px;">
        <div style="border-bottom:1px solid #ddd; padding:0px 0px 5px 0px;">
            {{data.tieuDe}}
        </div>
        <div style="padding: 10px 0px 10px 0px;">
            <p style="color:#A94442; font-size:1.5em" ng-hide="data.success">{{data.noiDung}}</p>
            <p style="color:#3C763D;font-size:1.5em" ng-show="data.success">{{data.noiDung}}</p>
        </div>
        <div>
            <button type="submit" class="btn btn-primary pull-right" >Xác nhận</button>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
