
	<div ng-controller="ChatController">
		<div class="modal-header">
	   Chat với {{user.displayName}}
	   <button type="button" class="close hidden-xs"><span aria-hidden="true"><i class="fa fa-expand"></i></span><span class="sr-only">Phóng to</span></button>
	</div>
	<div class="modal-body chat-modal">
	    <ul class="well well-sm chat-content">
	    	<li class="message" ng-repeat="m in msg" style="display: list-item;">
	    		<span ng-if="m.userSend!=user.userId"><img src="{{m.userSend.avatar}}" class="userAvatar" alt="{{m.userSend.displayName}}"><span class="messageBody">{{m.msg}} <p class="text-right"><i><small class="send_date">{{m.creationDate | fromNow}}</small></i></p></span>
	    		</span>
	    		<span ng-if="m.userSend==user.userId"><img src="{{m.userRecive.avatar}}" class="userAvatar" alt="{{m.userRecive.displayName}}"><span class="messageBody">{{m.msg}} <p class="text-right"><i><small class="send_date">{{m.creationDate | fromNow}}</small></i></p></span>
	    		</span>
	    	</li>
	    <p>&nbsp;</p>
		</ul>
	</div>
	<div class="modal-footer">
	<!-- <form name="form" class="form-horizontal" method="post" novalidate> -->
		<div class="input-group">
			<input type="text" placeholder="Nhập tin nhắn ở đây, nhấn enter để gửi" ng-model="formData.msg" name="chat-message" class="form-control inputMessage" />
			<input type="hidden" ng-model="formData.userRecive">
			<span class="input-group-btn" style="border:none !important;">
				<button class="btn btn-submit chat-message-send-btn" type="button">Gửi đi</button>
				<button class="btn btn-warning chat-close-btn"  ng-click="cancel()">Đóng lại</button>
			</span>
		</div>
	<!-- </form> -->
	</div>
	</div>
<style>
	.modal-footer{border-top: none; margin-top: 0;}
	.inputMessage{width: 98% !important; height: 35px;}
	.chat-close-btn{border-radius: 0;}
	.modal-header button{border: none !!important;}
	.log {color: #428bca;font-size: 70%;margin: 5px;text-align: center;}

	.message.typing i {color: #428bca; font-size: 80%;}

	.username {float: left; overflow: hidden;padding-right: 15px;text-align: right;}
	.chat-modal ul.well {height: 300px;overflow-y: auto;resize: none;background-color: #fff;margin-bottom: 0;border-radius: 0;}
	.message{margin: 5px 0;}
	.messageBody{
		display: inline-block;
		  max-width: 95%;
  word-break: break-word;
		min-width: 200px;
		  background-color: #dbedfe;
  background-image: -webkit-gradient(linear, center bottom, center top, from(#c7defe), to(#e7f1fe));
  background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);
  padding: 3px 5px;
  margin: 0 5px;
  border-radius: 4px;
  margin-left: 10px;
  position: relative;
  min-height: 42px;
	}
	.messageBody .text-right{margin-bottom: 0;}
	.messageBody:before{
		content: "";display: block;width: 0px;height: 0px;position: absolute;top: 10px;left: -14px;border: 7px solid transparent;border-right: 9px solid #dbedfe;background-image: -webkit-gradient(linear, center bottom, center top, from(#c7defe), to(#e7f1fe));
  background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);
	}
	.userAvatar{width: 40px; height: 40px; margin-top: -21px;}
	.message.typing .messageBody .userAvatar{margin-top: 0;}
</style>