<div ng-controller="QuestionController"></div>
<h1>Nội dung câu hỏi</h1>
<form name="form" ng-submit="createQuestion()">
	<div ng-model="suggestTitle" ng-bind="suggestTitle"></div>
	
		<div ng-model="suggestTag" ng-repeat="value in suggestTag">
<div ng-bind="value.tagName"></div>
		</div>
	
	<div marked="suggestContent" ng-model="suggestContent"></div>
<button class="btn btn-submit" type="submit"><i class="fa fa-edit"></i> Đăng câu hỏi</button>
</form>
<h1>Câu hỏi gợi ý</h1>

<div ng-repeat="value in listSuggest">
	<span ng-bind="value.title"></span>
</div>