<div class="background-main-content">
    <div class="row select-category">
        <div class="col-xs-6 pull-left current-category">
            <span><i class="fa fa-question"></i> Quản lý Câu hỏi</span>
        </div>
        <div class="pull-right">
            <a ui-sref="system" class="btn btn-submit btn-return"><i class="fa fa-mail-reply"></i> Quay lại Bảng điều khiển</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- END SELECT-CATEGORY -->
    <div ng-controller="QuestionController">
        <form id="system-form">
            <div class="col-xs-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Người đăng</th>
                            <th>Ngày đăng</th>
                            <th>Cập nhật lần cuối</th>
                            <th>Trạng thái</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="q in listAdminQuestion | orderBy: '-creationDate'|startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <td>{{$index+1}}</td>
                            <td><a ui-sref="system-question-edit({id: q._id})" ng-bind="q.title"></a></td>
                            <td ng-bind="q.userId.displayName"></td>
                            <td ng-bind="q.creationDate| toDate | date:'dd/MM/yyyy'"></td>
                            <td ng-bind="q.lastEditDate| toDate | date:'dd/MM/yyyy'"></td>
                            <td ng-show="q.status==true" class="text-center"><i class="fa fa-check text-success" tooltip="Đã duyệt"></i></td>
                            <td ng-show="q.status==false" class="text-center"><button class="btn btn-submit" ng-click="approve(q._id)">Xét duyệt</button></td>
                            <td><button type="button" ng-click="deleteQuestion(q._id,'system/questions')" class="btn btn-danger"><i class="fa fa-trash-o"></i> Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    <pagination total-items="totalItems" ng-model="currentPage" max-size="itemsPerPage" class="pagination-sm" boundary-links="false" rotate="false" num-pages="numPages" previous-text="←" next-text="→"></pagination>
    <!-- / pagination -->
</div>
</div>
<style>
.table td:nth-child(2){
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
max-width: 250px;
}
.table th:nth-child(7), .table td:nth-child(7){text-align: center;}
</style>
